<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1>
            <p>Welcome to <%= title %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-info" target="_blank" href="/export-download">Export and download file</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-info" target="_blank" href="/create-link">Export and create link download file</a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
